/*-----------
    GENERAL
----------*/
body{
    background-image:url("../img/pexels-photo-132800.jpeg");
    background-attachment: fixed;
    background-size: 100%;
}

@media all and (max-width:1039px){
	body{
        background-image:url("../img/pexels-photo-132800.jpeg");
        background-attachment: fixed;
        background-repeat: repeat-y;

	}
}

.minia {
    filter: grayscale(35%);
}
.minia:hover {
    filter: grayscale(0%);
}

.img-responsive{
    width: 100%;
}

.filter {
    background-image: url(../img/cloud.png);
    background-size: 100%;
    width: 180px;
    height: 100px;
}

.filter h3{
    padding:10px;
}

h1, h2{
    color: #000080;
    font-family: 'Indie Flower', cursive;
}

h3, h4{
    color: #000080;
    font-family: 'Montserrat', sans-serif;
}

.textFooter, .textFooter a{
    color: oldlace;
}

.fontContainer{
    background-color:rgba(255, 245, 238, 0.3);

}
/*----------------
    MENU PRINCIPAL
-----------------*/
.main-header .navbar .navContainer{
    background-color:rgba(255, 245, 238, 0.7);
    font-family: 'Indie Flower', cursive;
    font-size: 17px;
    width:100%;
}

.main-header .navbar-header a {
    color: #000080;
    font-family: 'Indie Flower', cursive;
    font-size: 35px;
}

.container ul.nav a {
    color: #000080;
    font-size: 20px;
    padding-right: 20px;
}

.main-header .navbar-header a:hover {
    color: #E6E6FA;
}
.main-header ul.nav a:hover {
    color: #E6E6FA;
}

/*--------------
    FORMULAIRES
----------------*/
form.pull-right {
    color: #000080;
    font-size: 13px;
    margin-left: -15px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

form.to_connect, .to_inscription {
    color: #000080;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    height: 300px;
    padding:50px;
}

form.to_connect, .to_inscription, label{
    margin:10px;
}

.articlesForm{
    height: 700px;
    background-image:url("../img/sky.jpeg");
    background-size: 100%;
    color: #000080;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 38px;
}

.sentence{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    color: #000080;
}


/*---------------
    PRESENTATION
        PRODUITS
---------------*/
.product{
    background-color:rgba(255, 245, 238, 1);
}

.textProduct{
    padding: 35px;
    color: #000080;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
.filter-price{
    padding-left: 10px;
    background: rgba(234, 208, 208, 0.41);
}
